* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* header and logo */

header {
    background-color: #FAEDCD;
    height: 80px;
    width: 100%;
    margin-top: -80px;
    position: fixed;
    z-index: 5;
}

#logo {
    float: left;
    margin-left: 20px;
    height: auto;
    width: 10%;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
}

h1 {
    font-weight: 800;
    font-size: 260%;
    letter-spacing: 2px;
}

p {
    letter-spacing: 1px;
    font-size: 1.2vw;
    color: #3a3a3a;
}

/* --------- Game layout */
.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

#question {}

#alternativ-one {}

#alternativ-two{}

#alternativ-three{}

#imag-source {}

#dog-picture{}




/* --------- Buttons */

.btn btn--gray {
    color: #597305;
        text-align: center;
        font-size: 100%;
        background-color: #3f4705;
        border-radius: 2px;
        margin-top: 20px;
        padding: 10px;
}

#start-btn {
    color: #4f6507;
        text-align: center;
        font-size: 100%;
        background-color: #4a520e;
        border-radius: 2px;
        margin-top: 20px;
        padding: 10px;
}

.start-btn {
    color: #222c03;
        text-align: center;
        font-size: 100%;
        background-color: #2b3005;
        border-radius: 2px;
        margin-top: 20px;
        padding: 10px;
}

#next-btn {
    color: #1c2403;
        text-align: center;
        font-size: 100%;
        background-color: #272c03;
        border-radius: 2px;
        margin-top: 20px;
        padding: 10px;
}

.next-btn {
        color: #151b02;
        text-align: center;
        font-size: 100%;
        background-color: #34390c;
        border-radius: 2px;
        margin-top: 20px;
        padding: 10px;
    }


 .score-area {
        margin: 5px auto;
        width: 60%;
        font-size: 1.2rem;
    }
    
.controls-area {
        width: 85%;
        margin: 30px auto;
    }

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

.scores{
    display: inline-block;
    padding: 25px;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect{
    color: red;
    font-weight: bold;
}
