@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: "Nunito+Sans", sans-serif;
    color: #445361;
    text-align: center;
}

/* doglogo image section*/

#doglogo-image-section {
    height: auto;
    width: 100%;
    margin-top: 80px;
    overflow: hidden;
   
}
#doglogo {
    height: auto;
    width: 75vw;
    position: relative;

}
#doglogo-image-text {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    top: 10px;
    position: absolute;
}

#doglogo-image-text h1 {
    font-size: 2.4vw;
    color: #464545;
}

#doglogo-image-text h2 {
    font-size: 1.4vw;
    color: #464545;
}
.heading {
    text-align: center;
    font-size: 2.5rem;
}

h1, h2 {
    font-weight: 800;
    font-size: 260%;
    letter-spacing: 2px;
}

p {
    letter-spacing: 1px;
    font-size: 1.2vw;
    color: #3a3a3a;
}

/* --------- Game layout */
.quiz-section {
    background-color: rgb(182, 201, 182);
    border-radius: 20px;
    box-shadow: 5px 2px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;

    padding: 2%;
}
#quis-head {
    padding: 2%;
}

.quiz-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

/*Question styling*/
.question {
    font-weight: 600;
    font-size: 2rem;
    font-family: s;
}

.answers {
    margin-bottom: 20px;
    line-height: 5%;
    font-family: 'MedievalSharp', 'Bilbo';
}

button:hover {
    background-color: antiquewhite;
    color: darkslategray;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.5rem;
    margin: 3%;
}

ul li label {
    cursor: pointer;
    margin: 2%;
    font-size: 2.5rem;
}

button {
    background-color: antiquewhite;
    color: darkgreen;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 2rem;
    border-radius: inherit;
    font-family: 'MedievalSharp';
}

button:hover {
    background-color: beige;
}


/* --------- Buttons */

.btn btn--gray {
    color: #597305;
        text-align: center;
        font-size: 100%;
        background-color: #3f4705;
        border-radius: 2px;
        margin-top: 20px;
        padding: 10px;
}

#start-btn {
    color: #4f6507;
        text-align: center;
        font-size: 100%;
        background-color: #4a520e;
        border-radius: 2px;
        margin-top: 20px;
        padding: 10px;
}

.start-btn {
    color: #222c03;
        text-align: center;
        font-size: 100%;
        background-color: #2b3005;
        border-radius: 2px;
        margin-top: 20px;
        padding: 10px;
}

#next-btn {
    color: #1c2403;
        text-align: center;
        font-size: 100%;
        background-color: #272c03;
        border-radius: 2px;
        margin-top: 20px;
        padding: 10px;
}

.next-btn {
        color: #151b02;
        text-align: center;
        font-size: 100%;
        background-color: #34390c;
        border-radius: 2px;
        margin-top: 20px;
        padding: 10px;
    }


 .score-area {
        margin: 5px auto;
        width: 60%;
        font-size: 1.2rem;
    }
    
.controls-area {
        width: 85%;
        margin: 30px auto;
    }

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

.scores{
    display: inline-block;
    padding: 25px;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect{
    color: red;
    font-weight: bold;
}
