@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FEFEFE;
    font-family: "Nunito+Sans", sans-serif;
    color: #473A37;
    text-align: center;
}

/* doglogo image section*/

#doglogo-image-section {
    height: auto;
    width: 100%;
    margin-top: 80px;
    overflow: hidden;
   
}
#doglogo {
    height: auto;
    width: 75vw;
    position: relative;

}
#doglogo-image-text {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    top: 10px;
    position: absolute;
}

#doglogo-image-text h1 {
    font-size: 2.4vw;
    color: #473A37;
}

#doglogo-image-text h2 {
    font-size: 1.4vw;
    color: #473A37;
}
.heading {
    text-align: center;
    font-size: 2.5rem;
}

h1, h2 {
    font-weight: 800;
    font-size: 260%;
    letter-spacing: 2px;
}

p {
    letter-spacing: 1px;
    font-size: 1.2vw;
    color: #342A29;
}

/* --------- Game layout */
.quiz-section {
    background-color: #D8D1CC;
    border-radius: 40px;
    box-shadow: 8px 5px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}
#quis-head {
    padding: 2%;
}

.quiz-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

/*Question styling*/
.question {
    font-weight: 600;
    font-size: 2rem;
    font-family: s;
}

.answers {
    margin-bottom: 20px;
    line-height: 5%;
    font-family: "Nunito+Sans", sans-serif;
}

button:hover {
    background-color: #D8D1CC;
    color: #6F4121;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.5rem;
    margin: 3%;
}

ul li label {
    cursor: pointer;
    margin: 2%;
    font-size: 2.5rem;
}

button {
    background-color: #FEFEFE;
    color: #6F4121;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 2rem;
    border-radius: inherit;
    font-family: "Nunito+Sans", sans-serif; 
}

button:hover {
    background-color: beige;
}

 .score-area {
        margin: 5px auto;
        width: 60%;
        font-size: 1.2rem;
    }
    
.controls-area {
        width: 85%;
        margin: 30px auto;
    }

.scores{
    display: inline-block;
    padding: 25px;
}

#score {
    color: #342A29;
    font-weight: bold;
}

#incorrect{
    color: #342A29;
    font-weight: bold;
}
